
#w6_wpseo_metabox label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#w6_wpseo_metabox .howto {
    margin-top: 5px;
}

#w6_wpseo_metabox input[type="text"],
#w6_wpseo_metabox textarea {
    display: block;
    width: 100%;
}